body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container, .dashboard-content {
    text-align: center;
    margin-top: 100px;
    background-color: lightgray;
}

.image {
    height: 50%;
    width: 70%;
}

.login-container input, .login-container button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

nav {
    background-color: #007bff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
